@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

@keyframes fadeInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }

    100% {
        opacity: 1;
        transform: translateY(0)
    }
}

.home-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 122px);
}

.main-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60vh;
}

.right-section {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    position: relative;
    animation: fadeInRight 2s ease-in-out;
}

.right-section img {
    max-height: 95%;
    max-width: 95%;
    filter: grayscale(100%);
    animation: fadeInRight 1.5s ease-in-out;
}

.left-section {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.presentation {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    animation: fadeInRight 2s ease-in-out;
}

.left-section .presentation h1 {
    font-size: clamp(2.3rem, 3vw, 4rem);
    font-weight: 500;
    line-height: 1.2;
}

.left-section .presentation h1 span {
    color: rgb(7, 197, 0)
}

.left-section .button {
    line-height: 40px;
    max-width: 230px;
    height: 40px;
    /* font-size: 1.5rem; */
    font-size: clamp(1.3rem, 3vw, 2rem);
    font-weight: 500;
    background: white;
    border-radius: 20px;
    border: 1.4px solid black;
    position: relative;
    overflow: hidden;
}

.left-section .button div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease;
}

.left-section .button div:hover {
    transform: translateY(-40px);
    background: black;
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.socials {
    width: 100%;
    height: 27vh;
    display: flex;
    justify-content: center;
    align-items: end;
    animation: fadeInBottom 1.5s ease-in-out;
}

.socials .icon {
    max-width: 70px;
    max-height: 70px;
    margin: 0 20px;
    transition: all 0.2s ease;
}

.socials .icon:hover {
    transform: translateY(-40px);
    height: 150px;
}

.icon img {
    object-fit: cover;
}

@media (max-width: 1366px) {
    .home-main {
        height: calc(100vh - 102px);
    }

    .left-section .button {
        line-height: 30px;
        max-width: 200px;
        height: 30px;
    }
    .left-section .button div:hover {
        transform: translateY(-30px);
    }
}

@media (max-width: 765px) {
    .home-main{
        flex-direction: row;
    }
    .main-container {
        flex-direction: column;
        height: 100%;
        width: 80%;
    }

    .left-section {
        width: 100%;
        height: 50%;
    }

    .right-section {
        width: 100%;
        height: 50%;
        justify-content: start;
        align-items: end;
    }
    
    .right-section img {
        margin: auto 0;
        max-height: 80%;
        max-width: 80%;
        filter: grayscale(100%);
        animation: fadeInRight 1.5s ease-in-out;
    }

    .left-section .button {
        line-height: 30px;
        max-width: 200px;
        height: 30px;
    }
    .left-section .button div:hover {
        transform: translateY(-30px);
    }

    .socials{
        height: 100%;
        flex-direction: column;
        justify-content: end;
        width: 20%;
    }
    
    .socials .icon {
        max-width: 50px;
        max-height: 50px;
        margin: 10px 0;
        transition: all 0.2s ease;
    }
    .socials .icon:hover {
        transform: translateX(-20px);
        height: 150px;
    }
}

@media (max-width: 500px) {
    .home-main{
        flex-direction: row;
    }
    .main-container {
        flex-direction: column;
        height: 100%;
        width: 80%;
    }

    .left-section {
        width: 100%;
        height: 50%;
    }

    .right-section {
        width: 100%;
        height: 50%;
        justify-content: start;
        align-items: end;
    }
    
    .right-section img {
        margin: auto 0;
        max-height: 80%;
        max-width: 80%;
        filter: grayscale(100%);
        animation: fadeInRight 1.5s ease-in-out;
    }

    .left-section .button {
        line-height: 30px;
        max-width: 200px;
        height: 30px;
    }
    .left-section .button div:hover {
        transform: translateY(-30px);
    }

    .socials{
        height: 100%;
        flex-direction: column;
        justify-content: end;
        width: 20%;
    }
    
    .socials .icon {
        max-width: 50px;
        max-height: 50px;
        margin: 10px 0;
        transition: all 0.2s ease;
    }
    .socials .icon:hover {
        transform: translateX(-20px);
        height: 150px;
    }
}

@media (max-width: 500px) {
    .left-section .presentation h1 {
        font-size: 20px;
    }   
    
    .left-section .button {
        line-height: 20px;
        max-width: 150px;
        height: 20px;
    }
    .left-section .button div:hover {
        transform: translateY(-20px);
    } 
}