@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.card .button {
    line-height: 40px;
    width: clamp(100px, 30vw, 230px);
    max-width: 230px;
    height: 40px;
    font-size: 1.5rem;
    font-weight: 500;
    background: white;
    border-radius: 20px;
    border: 1.4px solid black;
    position: relative;
    overflow: hidden;
}

.card .button div {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.2s ease;
}

.card .button div:hover {
    transform: translateY(-40px);
    background: black;
    color: white;
    font-weight: 300;
    cursor: pointer;
}

.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 122px);
    /* Asegura que el contenedor ocupe toda la altura de la pantalla */
    animation: fadeInRight 1.5s ease-in-out;
}

.projects img {
    width: 95.8%;
    height: auto;
}

.swiper-container {
    width: 50%;
    /* Ajusta esto según tus necesidades */
}

.card {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-description {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
}

.card-description p {
    font-size: clamp(0.8rem, 1.7vw, 1.4rem);
    font-weight: 400;
    line-height: 1.2;
    width: 50%;
}

@media (max-width: 1366px) {
    .projects {
        height: calc(100vh - 102px);
    }

    .swiper-container {
        width: 60%;
    }

    .projects img {
        width: 95.3%;
        height: auto;
    }

    .card .button {
        line-height: 30px;
        max-width: 200px;
        height: 30px;
    }

    .card .button div:hover {
        transform: translateY(-30px);
    }
}

@media (max-width: 1024px) {   

    .swiper-container {
        width: 70%;
    }  
}

@media (max-width: 800px) {   

    .swiper-container {
        width: 80%;
    }

    .projects img {
        width: 95.3%;
        height: auto;
    }

    .card .button {
        line-height: 20px;
        max-width: 150px;
        font-size: 1rem;
        height: 20px;
    }

    .card .button div:hover {
        transform: translateY(-20px);
    }
}

@media (max-width: 675px) {   

    .swiper-container {
        width: 90%;
    }   
}

@media (max-width: 500px) {   

    .swiper-container {
        width: 98%;
    }

    .projects img {
        width: 90%;
        height: auto;
    }

    .card-description p {        
        width: 40%;
        margin-left: -15px;
    }

    .card .button {
        line-height: 15px;
        max-width: 100px;
        font-size: 0.75rem;
        height: 15px;
    }

    .card .button div:hover {
        transform: translateY(-15px);
    }
}