body {
  margin: 0 22px;
  font-family: "Barlow", sans-serif;
  color: #3b3b3b
}

img{
  max-width: 100%;
  display: block;
}

a{
  text-decoration: none;
  color: #3b3b3b;
}

ul{
  list-style: none;
  padding-left: 0;
}